@tailwind base;
@tailwind components;
@tailwind utilities;

.ligatures{
    font-variant-ligatures: common-ligatures;
    -moz-font-feature-settings: "liga", "clig", "frac", "lnum", "ss01", "ss02";
    -webkit-font-feature-settings: "liga", "clig", "frac", "lnum", "ss01", "ss02";
    font-feature-settings: "liga", "clig", "frac", "lnum", "ss01", "ss02";
}
